/* Index and cross file Ids */
body {
    background-image: url(../light-grey-terrazzo.png);
    color: #777777;
    font-size: 14px;
    line-height: 2;
}
/* Add another div of desired width, that way it will always be the right size */
#topBar {
    background-color: #ffffff;
    Width: 100%;
    height: 78px;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    text-align: center;
    margin-bottom: 40px;
}

#barOptions {
    Width: 960px;
    margin: 0 auto;
    position:relative;
}

#myName {
    color: #ffffff;
    background-color: #4aaaa5;
    font-size: 2em;
    font-weight:bolder;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    width: 320px;
    height: 78px;
    padding: auto;
    line-height: 78px;
    text-align: center;
}

/* These could be a class instead of ids I believe */
#about {
    position: absolute;
    right: 350px;
    font-size: 1.25em;
    Width: 80px;
    bottom: 21.8px;
}

#portfolio {
    font-size: 1.25em;
    Width: 80px;
    position: absolute;
    right: 200px;
    bottom: 21.8px;
}

#contact {
    Width: 80px;
    font-size: 1.25em;
    position: absolute;
    right: 50px;
    bottom: 21.8px;
}

#main {
    Width: 956px;
    margin: 0 auto;
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 50px;
    overflow: auto;

}

#mainHeader {
    color: #4aaaa5;
    font-size: 2em;
    font-weight:bolder;
    font-family: "Georgia",'Times New Roman', Times, serif;
    width: 900px;
    margin-left: 28px;
    margin-right: 28px;
}

#bioImage {
    float: left;
    margin: auto 15px 15px 28px;
    height: 210px;
    width: 262px;
    
}

#myImage {
    height: 210px;
    width: 262px;
    transform: rotate(180deg)  
}

#bioText {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    width: 900px;
    margin-left: 28px;
    margin-right: 28px;
}
footer {
    background-color: #666666;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    border-top-width: 5px;
    height: 45px;
    width: 100%;
    text-align: center;
    color: #7f7f7f
}
/* Contact Ids */
#info {
    width: 900px;
    margin-left: 28px;
    margin-right: 28px;
}
h2 {
    font-size: 1.25em;
    font-weight: bold;
}

#nameBox{
    width: 900px;
    height: 35px;
    line-height: 35px;
}

#emailBox {
    width: 900px;
    height: 35px;
    line-height: 35px;
}

#messageBox{
    width: 900px;
    height: 200px;
    line-height: 35px;
}

#submitButton {
    width: 115px;
    height: 40px;
    margin-top: 20px;
    margin-left: 28px;
    margin-bottom: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    font-size: 1.25em;
    font-weight: bolder;  
}

/* portfolio ids */
#projectImage1 { 
    float: left;
    margin-left: 28px; 
    margin-right: 28px;
    position: relative;
}

#projectImage2 {
    display:inline-block;
    position: relative;
    
}

#projectImage3 {
    float: left;
    clear: both;
    margin-left: 28px; 
    margin-right: 28px;
    position: relative;
    
}

#projectImage4 {
    display:inline-block;
    position: relative;
}

#projectImage5 {
    float: left;
    clear: both;
    margin-left: 28px; 
    margin-right: 28px;
    position: relative;
    
}

.projectImages {
        height: 210px;
        width: 275px;
}

.projectTitle {
    text-align: center;
    font-size: 1.5em;
    height: 60px;
    width: 275px;
    background-color: #4aaaa5;
    color: #ffffff;
    line-height: 60px;
    position: absolute;
    bottom:20px;
}

a:visited, a:link, a:hover, a:focus {
    text-decoration: none;
    color: #777777
}